div(ng-init='configdata= #{JSON.stringify(configdata)}', class='well well-lg')
    if (user)
      .container(ng-init='gotfiles= #{JSON.stringify(files)}')
        h4 File Management
        br
        div(ng-init="httpMethod = 'POST'", ng-show='storageFull()', class='animate-show')
          | You have reached your maximum file upload limit. Kindly remove some old unused files
          | to upload new files.
        div(ng-init="httpMethod = 'POST'", ng-show='!storageFull()', class='animate-show well')
          br
          b Upload New File
          br
          br
          input(type='file', ng-file-select='onFileSelect($files)')
          br
          br
          div(ng-show='selectedFiles != null', ng-init='uploadTrials= 0', class='animate-show')
            br
            | Progress:
            br
            div(class='sel-file', ng-repeat='f in selectedFiles')
              img(ng-show='dataUrls[$index]', ng-src='{{dataUrls[$index]}}')
              b {{f.name}}
              br
              b Size: 
              | {{f.size}}B
              br
              b Type:
              | {{f.type}}
              br
              b
                p(ng-bind='message')
              button(class='button', ng-click='start($index)', ng-show='progress[$index] < 0') Start
              span(class='progress', ng-show='progress[$index] >= 0')
                div(style='width:{{progress[$index]}}%') {{progress[$index]}}%
              button(class='button', ng-click='abort($index)', ng-show='hasUploader($index) && progress[$index] < 100') Abort
        br
        .mainBodyboxHeading
          table(width='100%')
            tr
              td(width='20%')
                b My Files &nbsp;
              td(width='80%', style='text-align:right;')
                input(type='text', ng-model='searchFileName', placeholder='Search')
        .mainBodybox(ng-show='gotfiles.length > 0')
              .divCourseScheduleMain-Wrapper(ng-repeat='file in gotfiles | orderBy : "fileid.filename" | filter : {fileid.filename:searchFileName}')
                .divCourseScheduleMain
                  table(width='100%')
                    tr
                      td(width='47%')
                        a(href='/download{{file.fileid.filephysicalpath}}', target="_blank")
                          b {{file.fileid.filename}}
                      td(width='18%')
                        b {{file.fileid.size}} B
                      td(width='25%')
                        | {{file.fileid.uploaddate | date:'medium'}}
                      td(width='10%')
                        button(class='button', ng-click='deleteFile(file)') Remove
        .mainBodybox(ng-show='gotfiles.length == 0')
            p You have not uploaded any files. You can upload your important documents here.
            | Your personal file space will be different from the file space allocated to the class
            | you enroll.
            p