extends layout

block content
  #header-wrapper
    #header.container
      #logo
        a(href="/")
          h1= title
      #header-menu
        if(user)
          ul
            li
              a(ng-href='', ng-click='openMeeting()')
                | Conference
            li
              a(ng-href='', ng-click='openCall()')
                | Call
            li
              a(ng-href='', ng-click='openInvite()')
                | Invite People
            li
              a(ng-href='', ng-click='openSettings()')
                | Settings
            li
              a(href='/logout')
                | Logout
        if(!user)
          ul
            //li
              span
                {{haveAccountOrNot}}
            li
              a(ng-href='#', ng-click='toggleSelected()')
                | {{loginRegisterText}}
  block bodycontent
