extends header

block bodycontent
  #body
   if (user)
    if(role != 'Owner')
     #cssmenu-header-wrapper
      #cssmenu
       ul
         if(page == '/')
           li.active
           
             a(href='/')
               span
                 | Dashboard
         else
           li
             a(href='/')
               span
                 | Dashboard
         if(role == 'Teacher')
           if(page == '/createcourse')
             li.active
               a(href='/createcourse')
                 span
                   | Create Course
           else
             li
               a(href='/createcourse')
                 span
                   | Create Course
         if(role == 'Teacher')
           if(page == '/mycourses')
             li.active
               a(href='/mycourses')
                 span
                   | My Courses
           else
             li
               a(href='/mycourses')
                 span
                   | My Courses
         if(role == 'Student')
           if(page == '/mycourses')
             li.active
               a(href='/mycourses')
                 span
                   | My Courses
           else
             li
               a(href='/mycourses')
                 span
                   | My Courses
         if(page == '/myfiles')
           li.active
             a(href='/myfiles')
               span
                 | My Files
         else
           li
             a(href='/myfiles')
               span
                 | My Files
         if(role == 'Student')
           if(page == '/searchcourses')
             li.active
               a(href='/searchcourses')
                 span
                   | Search Courses
           else
             li
               a(href='/searchcourses')
                 span
                   | Search Courses
   block bodyaftermenu
