extends menu

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodyaftermenu
 .mainBodyPane
  #formbody
   h1 Change your password
   br
   form(role='form', ng-submit='save()', style='max-width: 600px;', ng-controller='NewPassword', ng-init='token= #{JSON.stringify(token)}')
    br
    div(ng-show='!sentData')
     label New Password
     .form-group
         input.form-control(type='password', name="password", placeholder='Enter Password', required, ng-model='user.password')
     br
     button.btn.btn-default(type='submit') Change my password
     &nbsp;
     a(href='/')
       button.btn.btn-primary(type="button") Cancel
    div(ng-show='sentData')
      p(ng-bind='user.message')
    br
    br
   br
   br
   br
   br
   br
   br
   br
   br
   br
   p. &nbsp;
