extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 .mainBodyPane
    h1 OOooooppppsss!!!
    br
    br
    p. Password Reset link has been expired. Kindly, apply for new Password Reset link.
    br
    p. Password Reset links expire after 4 hours. If you are not late, then you can email your issue with your account details
    | to support@cloudkibo.com
    br
    br
    a(href = '/forgotPasswordRequest', class='divButton')
      | New Password Reset Link
    br
    br
    br
    p. &nbsp;
