div(ng-controller='SearchCourseController', ng-init='courses= #{JSON.stringify(courses)}', style='padding:0px', class='well well-lg')
    if (user)
      .course-framepane
        .course-sidepane(class='well well-lg')
          br
          p. Total Courses Found: {{courses.length}}
          br
          input.form-control(type='text', ng-model='searchName', placeholder='Course Name')
          br
          input.form-control(type='text', ng-model='searchInstructor', placeholder='Teacher Last Name')
          br
          input.form-control(type='text', ng-model='searchCountry', placeholder='Country Name')
          br
        .course-mainpane
          .divSearchCourse(ng-repeat='course in courses | filter : {coursename:searchName, teacherid.teachername.lastname:searchInstructor, timecountry:searchCountry} | orderBy : "coursename"')
            table(width='100%', cellpadding='3')
              tr
                td(width='60%')
                  h4
                    a(href = '#displaycourse/{{course._id}}')
                      b {{course.coursename | uppercase}}
                td(width='40%')
                  b Days:
                  | &nbsp; {{course.days}}
              tr
                td(width='40%')
                  b Teacher:
                  | &nbsp; {{course.teacherid.teachername.lastname}}, {{course.teacherid.teachername.firstname}}
                td(width='60%')
                  b Time:
                  | &nbsp; {{course.time}} ({{course.timecountry}} Time)