extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 .mainBodyPane
    h1 Welcome to CloudKibo
    br
    br
    p. You have successfully verified your email address. Kindly go to the login page to sign in with your account.
    br
    br
    br
    a(href = '/', class='divButton')
      | Sign in
    br
    br
    br
    p. &nbsp;
