doctype html
html

  block head
   head
    title= title

    // Start UI

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')

    //link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all', rel='stylesheet', type='text/css')

    link(href='/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')

    link(href='/global/plugins/bootstrap/css/bootstrap.css', rel='stylesheet')

    link(href='/global/plugins/fancybox/source/jquery.fancybox.css', rel='stylesheet')

    link(href='/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css', rel='stylesheet')

    link(href='/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css', rel='stylesheet')

    link(href='/global/css/components.css', rel='stylesheet')

    link(href='/frontend/layout/css/style.css', rel='stylesheet')

    link(href='/frontend/pages/css/style-revolution-slider.css', rel='stylesheet')

    link(href='/frontend/layout/css/style-responsive.css', rel='stylesheet')

    link(href='/frontend/layout/css/themes/red.css', rel='stylesheet')

    link(href='/frontend/layout/css/custom.css', rel='stylesheet')

    link(href= 'https://chrome.google.com/webstore/detail/hjfejjmhpakdodimneibbmgfhfhjedod', rel='chrome-webstore-item')
    //link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')


    // End UI

   body(ng-app='cloudKiboApp')

        div(ng-view='', ng-controller='TabsController')

        // Theme Files

        script(src='/global/plugins/jquery-1.11.0.min.js')
        script(src='/global/plugins/jquery-migrate-1.2.1.min.js')
        script(src='/global/plugins/bootstrap/js/bootstrap.min.js')
        script(src='/frontend/layout/scripts/back-to-top.js')

        script(src='/global/plugins/fancybox/source/jquery.fancybox.pack.js')
        script(src='/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js')

        script(src='/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js')
        script(src='/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js')
        script(src='/frontend/pages/scripts/revo-slider-init.js')

        script(src='/frontend/layout/scripts/layout.js')

        // AngularJS Resources

        //script(src='/javascripts/lib/angular-file-upload-shim.min.js')

        // never do angular.js, in folder it is latest version, we use oldest
        script(src='/javascripts/lib/angular.min.js')

        script(src='/javascripts/lib/angular-route.min.js')

        //script(src='/javascripts/lib/angular-file-upload.js')

        script(src='/javascripts/lib/angular-animate.min.js')

        script(src='/javascripts/lib/angular-resource.js')

        script(src='/javascripts/lib/angular-cookies.js')

        script(src='/javascripts/lib/angular-sanitize.js')

        script(src='/javascripts/lib/angular-socket.io.js')

        script(src='/javascripts/lib/idb.filesystem.min.js')

        script(src='/javascripts/lib/angular-touch.min.js')

        script(src='/socket.io/socket.io.js')

        script(src='/javascripts/lib/adapter.js')

        script(src='/javascripts/lib/ui-bootstrap-tpls-0.10.0.js')

        script(src='/app/cloudKiboApp.js')

        script(src='/app/main/main.js')


        // N3ew Boilerplate

        script(src='/app/account/account.js')

        script(src='/app/account/login/login.controller.js')

        script(src='/app/account/settings/settings.controller.js')

        script(src='/app/account/signup/signup.controller.js')

        script(src='/app/account/password/password.controller.js')

        script(src='/app/admin/admin.controller.js')

        script(src='/app/admin/admin.js')

        script(src='/app/main/main.controller.js')

        script(src='/app/main/meeting.controller.js')

        script(src='/components/auth/auth.service.js')

        script(src='/components/auth/user.service.js')

        script(src='/components/sound/sound.service.js')

        script(src='/components/rest/rest.service.js')

        script(src='/components/webrtc/KiboRTC.js')

        //script(src='/components/webrtc/signalling.service.js')

        //script(src='/components/webrtc/webrtc.service.js')

        //script(src='/components/webrtc/rtcconferencecore.service.js')

        //script(src='/components/webrtc/filetransfer.service.js')

        //script(src='/components/webrtc/screenshare.service.js')

        //script(src='/components/webrtc/rtcconfig.service.js')

        //script(src='/components/modal/modal.service.js')

        //script(src='/components/mongoose-error/mongoose-error.directive.js')

        // New Boilerplate ends

        script(src='https://www.kibosupport.com/javascripts/widget/widget.js')

        script(type='text/javascript').
            jQuery(document).ready(function() {
                //Layout.init();
                //Layout.initOWL();
                //RevosliderInit.initRevoSlider();
                //Layout.initTwitter();
                //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
                //Layout.initNavScrolling();
            });

