div(class = 'changebckcolor' style="height:100vh;overflow:auto;")
    .row(class = 'changebckcolor')
      div(class='topPane row', ng-show='isAskingForMediaAccess()')
        center
          b Please allow the access to media devices
      div(class='topPane row' ng-show='hasUserDeniedMedia()')
        center
          b {{error}}
      div(class='topPane row', ng-show='isFireFoxScreenShareDenied()')
        center
          b Screen capture denied. Looks like you don't have CloudKibo FireFox Addon installed.
            a(target='self', ng-href='https://addons.mozilla.org/en-US/firefox/addon/cloudkibo-screen-sharing-addon/')
              | Click here to install.
      div(class='topPane row' ng-show='isLocalScreenShared()')
        center
          b You are sharing you computer screen.
      div(class='topPane row' ng-hide='isConnected()')
        center
          b You are disconnnected. We are trying to connect again. Please check your Internet connection.
      .pre-header(class = 'bckcolor-preheader')
        .container
          .row
            .col-md-6.col-sm-6.additional-shop-info
              ul.list-unstyled.list-inline
                li &nbsp;
            .col-md-6.col-sm-6.additional-nav
              ul.list-unstyled.list-inline.pull-right
                li
                  h4
                    a(href='#')
                      img(src='/images/logo_small_black.png')
                      | CloudKibo
      .header(ng-hide='isAskingForMediaAccess()')
        
        .container
          //a(class='site-logo', href='#')
            img(src='/images/logo_small.png')
            | CloudKibo Conference
          a(href='javascript:void(0);', class='mobi-toggler')
            i(class='fa fa-bars')
          div(class='header-navigation  font-transform-inherit')
            ul
              li
                .myicon-btn
                  a(id='showScreenButton', ng-click='showScreen()')
                   // i.fa.fa-desktop(style ="color:#FFF")
                   // div {{showScreenText}}
                   div.myscreen-sharebtn
              li(ng-hide='hasUserDeniedMedia()')
                .myicon-btn(id="bck-audio")
                  a(ng-click='audioToggle()' title="Hooray!")
                    //i.fa.fa-microphone
                    //div {{toggleAudioText}}
                    div.my-microphone
              li(ng-hide='hasUserDeniedMedia()')
                .myicon-btn(id="bck-camera")
                  a(ng-click='videoToggle()')
                   // i.fa.fa-desktop
                   div.my-camera
                  // div {{toggleVideoText}}
              li(ng-show='meetingStarted()')    
                .myicon-btn()
                  a(ng-click='endMeeting()')
                   div.endmeeting    
    .row(ng-show='isAskingForMediaAccess()' class = 'changebckcolor')
      br
      br
      br
      img(src='/images/askingCam.PNG', width='412', height='252')
    .row(ng-hide='isAskingForMediaAccess()' class = 'changebckcolor')
      .col-sm-1.buttonTabVert
        //.row
          .col-sm-1()
            a.icon-btn(id='showScreenButton', ng-click='showScreen()')
              i.fa.fa-desktop
              div {{showScreenText}}
        //.row(ng-hide='hasUserDeniedMedia()')
          //ng-show='meetingStarted()'
          .col-sm-1()
            a.icon-btn(ng-click='audioToggle()')
              i.fa.fa-microphone
              div {{toggleAudioText}}
        //.row(ng-hide='hasUserDeniedMedia()')
          .col-sm-1()
            a.icon-btn(ng-click='videoToggle()' )
              i.fa.fa-desktop
              div {{toggleVideoText}}
        
        .fileUpload2(class = "myicon-btn")
            //label Send File
            input(id='file', type='file')
            label(for = "file") 
              i.fa.fa-file-text-o(style = "font-size:32px;color:white;")
             // div Share File
            //input(type='file', data-filename-placement='inside')
            //input.upload(type='file')
        .row
          .col-sm-1.fileTransferBox(id='0', ng-show='meetingStarted()' style='opacity:0;')
        .row
          .col-sm-1(id='filelist_container', ng-show='meetingStarted()' style='opacity:0;')
        
        div(id="myModal" class="modal fade" role="dialog")
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                  button(type="button" class="close" data-dismiss="modal")
                    | Close
                  img(src = '/assets/images/file.png')
                  h4(class="modal-title") You have received a file
                    
                    
              div(class="modal-body")
                  img(src = '/assets/images/file_transfer.png')
                  div(id = "modelbody")
              div(class="modal-footer" id="modelfooter")
                    button(type="button" class="pull-right mybtn mybtn-primary mybtn-primary.gradient mybtn-lg.round" data-dismiss="modal")
                      | Close
                    a(id="savefile")  
        div(id="myModalUpload" class="modal fade" role="dialog")
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                  button(type="button" class="close" data-dismiss="modal")
                    | Close
                  img(src = '/assets/images/file.png')
                  h4(class="modal-title") You have uploaded a file
                    
                    
              div(class="modal-body")
                  img(src = '/assets/images/file_transfer.png')
                  div(id = "modelbodyupload")
                    span(style= "margin-top:20px;" id="uploadspan")
              div(class="modal-footer" id="modelfooterupload")
                    button(type="button" class="pull-right mybtn mybtn-primary mybtn-primary.gradient mybtn-lg.round" data-dismiss="modal")
                      | Close
                    a(id="upload_stop")  
      
        //.row
          .col-sm-1.chatButtonUI(class ="myicon-btn")
                a(ng-click='toggleChatBoxVisibility()')
                //i.fa.fa-envelope-o(style = "font-size:32px;color:white;")
                // div Chat
                div.mychat-icon
        //.row
          .col-sm-1(ng-hide='hasChromeExtension() || isFireFox()')
            a.btn.btn-lg.green(ng-click='installExtension()')
              i.fa.fa-plus-square-o
              div Extension
        .row(class = 'changebckcolor')
          .col-sm-1
            | &nbsp;
        //.row(class = 'changebckcolor')
          .col-sm-1(ng-show='isFireFox()')
            a.icon-btn(target='self', ng-href='https://addons.mozilla.org/en-US/firefox/addon/cloudkibo-screen-sharing-addon/')
              i.fa.fa-plus-square-o
              div Extension
        //.row(class = "buttonConference")
          .col-sm-4(style='background-color:lavenderblush;', ng-show='meetingStarted()' )
            a(id='showScreenButton', ng-click='showScreen()')
              i.fa.fa-desktop {{showScreenText}}
        //.row(class = "buttonConference")
          .col-sm-4(style='background-color:lavender;', ng-hide='hasChromeExtension() || isFireFox()')
            a(ng-click='installExtension()')
              i.fa.fa-plus-square-o Extension
        .row(class = 'changebckcolor')
          .col-sm-1
            | &nbsp;
        br
        br
        br
            
          
        .row(ng-repeat='peer in peers', ng-show='hasPeerSharedScreen()' class = 'changebckcolor')
          .col-sm-1
            div
              img(src='/assets/images/avatar.png', width='70px', height='72px')
            span.uname{{peer.username}}
      .col-sm-11(class='animate-show' class = 'changebckcolor')
        .row(class = 'changebckcolor')
          .col-sm-9
            div(class='animate-show', ng-hide='hasPeerSharedScreen() || hasAndroidPeerSharedScreen()' class = 'changebckcolor')
                  div.no-meeting(ng-show = '!meetingStarted()')
                      span.title Welcome to CloudKibo Conference
                      br
                      span.subtitle Secured Encrypted Communication
                      br
                      br
                      a( style= "font-weight: 600;" href = "frontend/layout/webrtc-test.html")
                        | Test System Compatibility
                      br
                      br
                      div.cc
                        div(id="calendar" class="datepicker")
                        article(class="clock bounce")
                          div(class="hours-container")
                            div(class="hours")
                          div(class="minutes-container")
                            div(class="minutes")
                          div(class="seconds-container")
                            div(class="seconds")
                  div.in-meeting        
                    .videoBoxContainer(ng-show = 'meetingStarted()')
                      div(class='{{divBoxClass}}', ng-hide='isLocalVideoShared()'){{getUsername()[0]}}
                      video.videoelement(ng-src='{{getLocalVideo()}}', autoplay, width='180px',height='200px', ng-show='isLocalVideoShared()' muted)
                      span.uname{{getUsername()}}
                    video-player(ng-repeat='peer in peers', vid-src='{{peer.stream}}', user-name='{{peer.username}}', shared-vid='{{peer.sharedVideo}}', div-box-class='{{peer.divClass}}')
                      
            div(ng-show='hasPeerSharedScreen()')
              center
                span
                  video(ng-src='{{getPeerScreen()}}',autoplay='true', style='width: {{widthScreen}}; height: {{heightScreen}}', class='videoelementscreen', controls='true')
            div(ng-show='hasAndroidPeerSharedScreen()')
              center
                span
                  img(id='screenViewer', ng-src='{{getAndroidPeerScreen()}}')
                  div(id='screenAndroidImage')
            br
            alert(ng-repeat='alertCall in alertsCallStart', type='alert.type', close='closeAlertCallStart($index)') {{alertCall.msg}}
            br
          .col-sm-3(class = 'changebckcolor')
            .row.chatButtonRow(ng-show='meetingStarted()')
              .col-sm-1.chatButtonUI(class = "myicon-btn")
                a(ng-click='toggleChatBoxVisibility()')
                 // i.fa.fa-envelope-o(style = "font-size:32px;color:white;")
                 // div Chat
                 div.mychat-icon
            .row(class='animate-show', ng-show='showChatBox()' class = 'changebckcolor')
              div(class='meetingChatBox', scroll-if, schroll-bottom='userMessages', style="word-wrap: break-word")
                .meetingChatMessage(ng-repeat='userMessage in userMessages track by $index', scroll-item)
                  | {{userMessage}}
              form
                input(type='text', id="dataChannelSend", ng-model='dataChannelSend', placeholder="Type Message Here", autocomplete='off')
                button(ng-click='sendData()') Send
