extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 .main
   .container
     div(class='row margin-bottom-40')
       div(class='col-md-12 col-sm-12')
         h1 Features
         .content-page
           .row
             .col-md-7
             
               div(class='row margin-bottom-20')
                 
                 .col-md-6
                   .service-box-v1
                     div
                       img(src = "/images/gchrome.png" )
                       h2 Google Chrome
                       if(title == 'CloudKibo')
                         p.
                            Available on Google Chrome
                       else
                         p.
                            Available on Google Chrome

                 .col-md-6
                   .service-box-v1
                     div
                       img(src = "/images/fire.png" )
                       h2 Firefox
                       if(title == 'CloudKibo')
                         p.
                           Available on Firefox
                       else
                         p.
                           Available on Firefox

               div(class='row margin-bottom-20')
                          
                 .col-md-6
                   .service-box-v1
                     div
                       img(src = "/images/ios.png" )
                       h2 iOS
                       if(title == 'CloudKibo')
                         p.
                           Coming soon
                       else
                         p.
                           Coming soon

                 .col-md-6
                   .service-box-v1
                     div
                       img(src = "/images/android.png" )
                       h2 Android
                       if(title == 'CloudKibo')
                         p.
                           Under Construction
                       else
                         p.
                           Under Construction

               div(class='row margin-bottom-20')

             .col-md-5
               iframe(src="//player.vimeo.com/video/94386848?portrait=0", height='270', style='width:100%; border:0;', frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen, class='margin-bottom-10')
             
           div(class='row quote-v1 margin-bottom-30')
               .col-md-9
                 span
                   | Make Your FREE Account Now!
               div(class='col-md-3 text-right')
                 a(class='btn-transparent', href='/register')
                   i(class='fa fa-check margin-right-10')
                   | Register
                 
             
 .footer
    .container
      .row
        div(class='col-md-6 col-sm-6 padding-top-10')
          if(title == 'CloudKibo')
            | CloudKibo &copy; (Beta Version) All Rights Reserved
          else
            | Synaps3WebRTC &copy; (Beta Version) All Rights Reserved
        div(class='col-md-6 col-sm-6')
          ul(class='social-footer list-unstyled list-inline pull-right')
                li
                  a(href='#')
                    i(class='fa fa-facebook')
                li
                  a(href='#')
                    i(class='fa fa-google-plus')
                li
                  a(href='#')
                    i(class='fa fa-linkedin')
                li
                  a(href='#')
                    i(class='fa fa-twitter')
                li
                  a(href='#')
                    i(class='fa fa-youtube')
 
 script(src='/global/plugins/jquery-1.11.0.min.js')
 script(src='/global/plugins/jquery-migrate-1.2.1.min.js')
 script(src='/global/plugins/bootstrap/js/bootstrap.min.js')
 script(src='/frontend/layout/scripts/back-to-top.js')
 
 script(src='/global/plugins/fancybox/source/jquery.fancybox.pack.js')
 script(src='/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js')
 
 script(src='/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js')
 script(src='/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js')
 script(src='/frontend/pages/scripts/revo-slider-init.js')
 
 script(src='/frontend/layout/scripts/layout.js')
 
 script(type='text/javascript').
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            RevosliderInit.initRevoSlider();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling(); 
        });
