extends tabcontents

block appbodycontent
        div(ng-show='!testingDefined()', class='animate-show')
                 .videoCallMainBodyPane
                   div()
                      .callNotifications(ng-show='isThereIncomingCall()')
                        div(style='text-align:center;')
                          h3 {{IncomingCallStatement | uppercase}}
                          b
                            div(ng-show='isItRinging()')
                              button.btn.btn-send(ng-click='AcceptCall()')
                                | Attend Call
                              | &nbsp; | &nbsp;
                              button.btn.btn-send(ng-click='RejectCall()')
                                | Reject Call
                      .callNotifications(ng-show='isThereOutgoingCall()')
                        div(ng-show='userFound')
                          #pictureBox
                            div(ng-show='userFound.picture')
                              img(src='/api/users/userimage{{userFound.picture}}', width='62px', height='62px', class='img-frame')
                            div(ng-show='userFound.fb_photo')
                              img(src='{{userFound.fb_photo}}', width='62px', height='62px', class='img-frame')
                            div(ng-show='userFound.google_photo')
                              img(src='{{userFound.google_photo}}', width='62px', height='62px', class='img-frame')
                            div(ng-show='userFound.windows_photo')
                              img(src='{{userFound.windows_photo}}', width='62px', height='62px', class='img-frame')
                            div(ng-show='!userFound.windows_photo && !userFound.google_photo && !userFound.fb_photo && !userFound.picture')
                              img(src='/images/displayPic.jpg', width='62px', height='62px', class='img-frame')
                          #userNameBox
                            h5 {{userFound.firstname}} {{userFound.lastname}}
                            b KiboName:
                            i {{userFound.username}}
                            br
                        div(style='text-align:center;')
                          h3 {{OutgoingCallStatement | uppercase}}
                          div(ng-show='isOtherSideRinging()')
                            button.btn.btn-send(ng-click='StopOutgoingCall()')
                              | Stop Calling

                      .videoCallChatPane(class='animate-show', ng-show='!localCameraCaptured()')


                        if(otherUser)
                          div(ng-if='getlocation() != "/app"')
                            div(ng-controller='FileSharingController')
                              div(class="friendInfoBoxContainer")
                                #pictureBoxForFriend
                                  if(otherUser.picture)
                                    img(src='/api/users/userimage'+otherUser.picture, width='102px', height='102px')
                                  else if(otherUser.fb_photo)
                                    img(src='{{otherUser.fb_photo}}', width='102px', height='102px')
                                  else if(otherUser.google_photo)
                                    img(src='{{otherUser.google_photo}}', width='102px', height='102px')
                                  else if(otherUser.windows_photo)
                                    img(src='{{otherUser.windows_photo}}', width='102px', height='102px')
                                  else
                                    img(src='/images/displayPic.jpg', width='102px', height='102px')
                                #userNameBoxForFriend
                                  #userInfoDetails
                                    h5 {{otherUser.firstname}} {{otherUser.lastname}}
                                    b KiboName:
                                    i {{otherUser.username}}
                                    br
                                    small
                                      i {{otherUser.status}}
                                  #userViewOptions(ng-if='hasSharedDetails()')
                                    span
                                      button.btn.btn-send(ng-click='callThisPerson(otherUser.username)') Make a Call
                                    span
                                      button.btn.btn-send(ng-click='removeFriend(otherUser)') Remove Friend
                                    span
                                      button.btn.btn-send(ng-click='removechathistory(otherUser)') Remove Conversation
                                    span
                                      button.btn.btn-send(ng-click='startFileChat()') Send File
                              div(ng-show='openFileSendView()')
                                label Send File
                                input(id='file', type='file')

                                div(id='0')
                                div(id='filelist_cointainer')
                              .chatArea
                                .chatBox(schroll-bottom='messages')
                                  div(ng-show='loadUnderProgress()', style='text-align:center;')
                                    img(src='/images/ProgressIcon.gif', width='60px', height='60px')
                                  div(ng-repeat='message in messages')
                                    .chatMessage
                                      .senderInfoInMessage
                                        b {{message.fromFullName}}
                                      .messageTextInMessage
                                        | {{message.msg}}
                                .chatControls
                                  form(class='chatMessageForm', role='form', ng-submit='sendIM()', ng-if='hasSharedDetails()')
                                    //http://stackoverflow.com/questions/6014702/how-do-i-detect-shiftenter-and-generate-a-new-line-in-textarea
                                    input.chatTextField(type='text', ng-model='im.msg', placeholder='Send a message')
                                  div(ng-if='!hasSharedDetails()')
                                    center {{otherUser.firstname}} {{otherUser.lastname}} has not shared details with you.

                        if(!otherUser)
                          div(ng-if='getlocation() == "/app"')
                            center
                              .animate-show(ng-show='isConnected()')
                                br
                                h4 To call someone you know
                                br
                                a(ng-href='', ng-click='openCall()')
                                  h4 Click Here.
                                br
                                h4 You should know kiboname or email address of the callee.
                            //div(ng-show='!sentFeedback() && hasCallEnded()')
                              br
                              br
                              h4 We would like your feedback
                              br
                              form.css-form(role='form', novalidate='novalidate', name='form7', enctype='multipart/form-data', ng-submit='feedBackForm()')
                                label Audio Quality
                                select.form-control(name='audio', ng-model='feedback.audio', required='required')
                                  option(value='1') 1 (Very Bad)
                                  option(value='2') 2 (Bad)
                                  option(value='3') 3 (Good)
                                  option(value='4') 4 (Best)
                                  option(value='5') 5 (Awesome)
                                label Video Quality
                                select.form-control(name='video', ng-model='feedback.video', required='required')
                                  option(value='1') 1 (Very Bad)
                                  option(value='2') 2 (Bad)
                                  option(value='3') 3 (Good)
                                  option(value='4') 4 (Best)
                                  option(value='5') 5 (Awesome)
                                label Screen Quality
                                select.form-control(name='screen', ng-model='feedback.screen', required='required')
                                  option(value='1') 1 (Very Bad)
                                  option(value='2') 2 (Bad)
                                  option(value='3') 3 (Good)
                                  option(value='4') 4 (Best)
                                  option(value='5') 5 (Awesome)
                                label File Transfer Quality
                                select.form-control(name='filetransfer', ng-model='feedback.filetransfer', required='required')
                                  option(value='1') 1 (Very Bad)
                                  option(value='2') 2 (Bad)
                                  option(value='3') 3 (Good)
                                  option(value='4') 4 (Best)
                                  option(value='5') 5 (Awesome)
                                label Comments
                                textarea.form-control(rows='8', cols='100', name='comments', ng-model='feedback.comments', ng-focus='ng-focus')
                                br
                                button.btn.btn-send(type='submit', ,=',', ng-disabled='form7.$invalid') Send Feedback
                                button.btn.btn-send(ng-click='ignoreFeedBack()') Ignore


                      div(ng-show='localCameraCaptured() && !hasOtherPartySharedScreen()' class="videoCallChatPane2")
                        div(style='text-align: center;')
                          video(id='localvideo', autoplay='true', muted='true', width='40%', class='videoelement')
                          video(id='remotevideo', autoplay='true', width='40%', class='videoelement')
                          audio(id='remoteaudio', autoplay='true')
                          br
                          //button(ng-click='enterVideoFullScreen()') Full Screen
                          br
                      div(ng-show='localCameraCaptured() && hasOtherPartySharedScreen()' class="videoCallChatPane2")
                        div(style='text-align: center;')
                          video(id='remotevideoscreen', autoplay='true', width='60%', class='videoelement', controls)
                      div(ng-show='localCameraCaptured()', style='text-align: center;' class="endCallDiv")
                        button(ng-click='endCall()') End Call
                        br
                        alert(ng-repeat='alertCall in alertsCallStart', type='alert.type', close='closeAlertCallStart($index)') {{alertCall.msg}}
                        br

                 .videoCallSidePane(ng-hide='localCameraCaptured()')
                   div
                      div(class="userInfoBoxContainer")
                        #pictureBox
                          if(user.picture)
                            img(src='/api/users/userimage'+user.picture, width='62px', height='62px', class='img-frame')
                          else if(user.fb_photo)
                            img(src='{{user.fb_photo}}', width='62px', height='62px', class='img-frame')
                          else if(user.google_photo)
                            img(src='{{user.google_photo}}', width='62px', height='62px', class='img-frame')
                          else if(user.windows_photo)
                            img(src='{{user.windows_photo}}', width='62px', height='62px', class='img-frame')
                          else
                            img(src='/images/displayPic.jpg', width='62px', height='62px', class='img-frame')
                        #userNameBox
                          h5 {{user.firstname}} {{user.lastname}}
                          b KiboName:
                          i {{user.username}}
                        #userStatusBox
                          form.userStatusForm(role='form', ng-submit='setStatus()')
                            input.statusTextField(type='text', ng-model='user.status', placeholder='Update your status here')

                   .contactsPaneContainer(ng-show='!localCameraCaptured()')
                     div(ng-if='addRequestslist.length > 0')
                              b Friend Requests
                     div(ng-if='addRequestslist.length > 0')
                              .contact(ng-controller='AddRequestsController', ng-repeat = 'contact in addRequestslist')
                                  table(width='100%')
                                    tr
                                      td(width='5%')
                                        #contactsPictureBox
                                          img(ng-if='contact.userid.picture != null', src='/api/users/userimage{{contact.userid.picture}}', width='32px', height='32px')
                                          img(ng-if='contact.userid.fb_photo != null', src='{{contact.userid.fb_photo}}', width='32px', height='32px')
                                          img(ng-if='contact.userid.google_photo != null', src='{{contact.userid.google_photo}}', width='32px', height='32px')
                                          img(ng-if='contact.userid.windows_photo != null', src='{{contact.userid.windows_photo}}', width='32px', height='32px')
                                          img(ng-if='contact.userid.fb_photo == null && contact.userid.google_photo == null && contact.userid.windows_photo == null', src='/images/displayPic.jpg', width='32px', height='32px')
                                      td(width='55%')
                                        a(href='/contact/{{contact.userid.username}}')
                                          b {{contact.userid.firstname}} {{contact.userid.lastname}}
                                      td(width='20%', align='center')
                                        a(href='', ng-click='approveFriendRequest($index)')
                                          i.fa.fa-check-circle
                                      td(width='20%', align='center')
                                        a(href='', ng-click='rejectFriendRequest($index)')
                                          i.fa.fa-times-circle

                     .contactsPane
                       .input-icon.margin-top-10
                         i.fa.fa-search
                         input.form-control(type='text', placeholder='Search Contacts', ng-model='searchContactText')
                       .contacts
                        .contact(ng-controller='ContactsListController', ng-repeat='contact in contactslist | filter: {contactid.firstname: searchContactText}')
                          a(href='/contact/{{contact.contactid.username}}')
                            table(width='100%')
                              tr
                                td(width='20%')
                                  #contactsPictureBox
                                    img(ng-if='contact.contactid.picture != null', src='/api/users/userimage{{contact.contactid.picture}}', width='32px', height='32px')
                                    img(ng-if='contact.contactid.fb_photo != null', src='{{contact.contactid.fb_photo}}', width='32px', height='32px')
                                    img(ng-if='contact.contactid.google_photo != null', src='{{contact.contactid.google_photo}}', width='32px', height='32px')
                                    img(ng-if='contact.contactid.windows_photo != null', src='{{contact.contactid.windows_photo}}', width='32px', height='32px')
                                    img(ng-if='contact.contactid.fb_photo == null && contact.contactid.google_photo == null && contact.contactid.windows_photo == null', src='/images/displayPic.jpg', width='32px', height='32px')
                                td(width='60%')
                                  | {{contact.contactid.firstname}} {{contact.contactid.lastname}}
                                td(width='10%')
                                  i.fa.fa-envelope-o(ng-show="isUnreadMessage($index)")
                                td(width='10%')
                                  img(src ="/images/onlinIcon.gif", height='10px', width='10px', ng-show="isOnline($index)")
                        .addNewContactOption
                          a(href='', ng-click='openAddContact()')
                            i.fa.fa-plus &nbsp; &nbsp;
                            b Add New Contact

                 //.videoCallSidePane(ng-show='localCameraCaptured()')
                   .chatArea
                     .chatBox(schroll-bottom='messages')
                       div(ng-show='loadUnderProgress()', style='text-align:center;')
                         img(src='/images/ProgressIcon.gif', width='60px', height='60px')
                       div(ng-repeat='message in messages')
                         .chatMessage
                           .senderInfoInMessage
                             b {{message.fromFullName}}
                           .messageTextInMessage
                             | {{message.msg}}
                     .chatControls
                       form(class='chatMessageForm', role='form', ng-submit='sendIM()', ng-if='hasSharedDetails()')
                         //http://stackoverflow.com/questions/6014702/how-do-i-detect-shiftenter-and-generate-a-new-line-in-textarea
                         input.chatTextField(type='text', ng-model='im.msg', placeholder='Send a message')
                       div(ng-if='!hasSharedDetails()')
                         center {{otherUser.firstname}} {{otherUser.lastname}} has not shared details with you.

                 .meetingBottomPane.row
                   .col-sm-1(ng-show='localCameraCaptured()')
                     .btn-wrapper-kibo
                       a.icon-btn(id='showScreenButton', ng-click='showScreen()')
                         i.fa.fa-desktop
                         div {{showScreenText}}
                   .col-sm-4(ng-hide='hasChromeExtension() || isFireFox()')
                     .btn-wrapper-kibo
                       a.btn.btn-lg.green(ng-click='installExtension()')
                         i.fa.fa-plus-square-o
                         div Add Chrome Screen Sharing Extension
                   .col-sm-4(ng-show='isFireFox()')
                     .btn-wrapper-kibo
                       a.btn.btn-lg.green(target='self', ng-href='https://addons.mozilla.org/en-US/firefox/addon/cloudkibo-screen-capturing-in-/')
                         i.fa.fa-plus-square-o
                         div Add FireFox Screen Sharing Extension
                   .col-sm-1(ng-show='localCameraCaptured()')
                     .btn-wrapper-kibo
                       label Send File
                       input(id='file', type='file')
                   .col-sm-1(id='0', ng-show='localCameraCaptured()')
                   .col-sm-1(id='filelist_container', ng-show='localCameraCaptured()')
                   //.col-sm-1(ng-show='localCameraCaptured()')
                     .btn-wrapper-kibo
                       a.icon-btn(ng-click='toggleChatBoxVisibility()')
                         i.fa.fa-envelope-o
                         div Chat
                   .col-sm-1(ng-show='localCameraCaptured()')
                     .btn-wrapper-kibo
                       a.icon-btn(ng-click='toggleVideoStream()')
                         i.fa.fa-video-camera
                         div(ng-hide='isVideoCaptured()') Show Video
                         div(ng-show='isVideoCaptured()') Hide Video
                   .col-sm-1(ng-show='localCameraCaptured()')
                     .btn-wrapper-kibo
                       a.icon-btn(ng-click='toggleAudioStream()')
                         i(ng-hide='isAudioCaptured()').fa.fa-microphone
                         i(ng-show='isAudioCaptured()').fa.fa-microphone-slash
                         div(ng-hide='isAudioCaptured()') Unmute
                         div(ng-show='isAudioCaptured()') Mute

