extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 div(class='page-slider margin-bottom-40')
   div(class='fullwidthbanner-container revolution-slider')
     .fullwidthabnner
       ul(id='revolutionul')
         
         li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
           img(src='/frontend/pages/img/revolutionslider/bg9.jpg', alt='')
           div(class='caption lft slide_title_white slide_item_left', data-x='30', data-y='90', data-speed='400', data-start='1500', data-easing='easeOutExpo')
             | Explore the Power
             br
             span(class='slide_title_white_bold')
               | of CloudKibo
           div(class='caption lft slide_subtitle_white slide_item_left', data-x='87', data-y='245', data-speed='400', data-start='2000', data-easing='easeOutExpo')
             | Collaboration Made Easy
           a(class='caption lft btn dark slide_btn slide_item_left', href='/features', data-x='187', data-y='315', data-speed='400', data-start='3000', data-easing='easeOutExpo')
             | Take a tour
           div(class='caption lfb', data-x='640', data-y='0', data-speed='700', data-start='1000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/lady.png', alt='Image 1')
         
         li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
           img(src='/frontend/pages/img/revolutionslider/bg1.jpg', alt='')
           div(class='caption lft slide_title slide_item_left', data-x='30', data-y='105', data-speed='400', data-start='1500', data-easing='easeOutExpo')
             | Video Collaboration
           div(class='caption lft slide_subtitle slide_item_left', data-x='30', data-y='180', data-speed='400', data-start='2000', data-easing='easeOutExpo')
             | Connect in Seconds
           div(class='caption lft slide_desc slide_item_left', data-x='30', data-y='220', data-speed='400', data-start='2500', data-easing='easeOutExpo')
             | A Complete Video Conferencing Solution
             br
             | in a Web Application
           a(class='caption lft btn green slide_btn slide_item_left', href='/features', data-x='30', data-y='290', data-speed='400', data-start='3000', data-easing='easeOutExpo')
             | Find out more
           div(class='caption lfb', data-x='640', data-y='55', data-speed='700', data-start='1000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/man-winner.png', alt='Image 1')
         
         li(data-transition='fade', data-slotamount='7', data-masterspeed='300', data-delay='9400', data-thumb='/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
           img(src='/frontend/pages/img/revolutionslider/bg2.jpg', alt='')
           div(class='caption lfl slide_title slide_item_left', data-x='30', data-y='125', data-speed='400', data-start='3500', data-easing='easeOutExpo')
             | Screen Sharing
           div(class='caption lfl slide_subtitle slide_item_left', data-x='30', data-y='200', data-speed='400', data-start='4000', data-easing='easeOutExpo')
             | Inside your browser
           div(class='caption lfl slide_desc slide_item_left', data-x='30', data-y='245', data-speed='400', data-start='4500', data-easing='easeOutExpo')
             | You can share your screen with your partner in a Call.
             br
             | Screen can also be shared in a Video Conference.
           div(class='caption lfr slide_item_right', data-x='635', data-y='105', data-speed='1200', data-start='1500', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/mac.png', alt='Image 1')
           div(class='caption lfr slide_item_right', data-x='580', data-y='245', data-speed='1200', data-start='2000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/ipad.png', alt='Image 1')
           div(class='caption lfr slide_item_right', data-x='735', data-y='290', data-speed='1200', data-start='2500', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/iphone.png', alt='Image 1')
           div(class='caption lfr slide_item_right', data-x='835', data-y='230', data-speed='1200', data-start='3000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/macbook.png', alt='Image 1')
           div(class='caption lfr slide_item_right', data-x='865', data-y='45', data-speed='500', data-start='5000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/hint1-red.png', alt='Image 1')
           div(class='caption lfr slide_item_right', data-x='355', data-y='355', data-speed='500', data-start='5500', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/hint2-red.png', alt='Image 1')
         
         li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
           img(src='/frontend/pages/img/revolutionslider/bg3.jpg', alt='')
           div(class='caption lfl slide_item_left', data-x='30', data-y='95', data-speed='400', data-start='1500', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/mac.png', alt='Image 1')
           div(class='caption lfr slide_title', data-x='470', data-y='100', data-speed='400', data-start='2000', data-easing='easeOutExpo')
             | No Downloads
           div(class='caption lfr slide_subtitle', data-x='470', data-y='170', data-speed='400', data-start='2500', data-easing='easeOutExpo')
             | Just Click and Call
           div(class='caption lfr slide_desc', data-x='470', data-y='220', data-speed='400', data-start='3000', data-easing='easeOutExpo')
             | You do not need to download any plugin
             br
             | or client side application. All you need is a browser.
             
         
         li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
           img(src='/frontend/pages/img/revolutionslider/bg4.jpg', alt='')
           div(class='caption lft slide_title', data-x='30', data-y='105', data-speed='400', data-start='1500', data-easing='easeOutExpo')
             | File Transfer
           div(class='caption lft slide_subtitle', data-x='30', data-y='180', data-speed='400', data-start='2000', data-easing='easeOutExpo')
             | No Size Limit
           div(class='caption lft slide_desc', data-x='30', data-y='225', data-speed='400', data-start='2500', data-easing='easeOutExpo')
             | You can transfer your files with your partner in a Call.
             br
             | There is no file size limit. Transfer Big Files!
           div(class='caption lft start', data-x='670', data-y='55', data-speed='400', data-start='2000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/iphone_left.png', alt='Image 1')
           div(class='caption lft start', data-x='850', data-y='55', data-speed='400', data-start='2400', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/iphone_right.png', alt='Image 1')
         
         li(data-transition='fade', data-slotamount='8', data-masterspeed='700', data-delay='9400', data-thumb='/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg')
           img(src='/frontend/pages/img/revolutionslider/bg1.jpg', alt='')
           div(class='caption lft slide_title slide_item_left', data-x='30', data-y='105', data-speed='400', data-start='1500', data-easing='easeOutExpo')
             | CloudKibo 
             br
             | Collaboration 
             br
             | Made Easy
           //div(class='caption lft slide_subtitle slide_item_left', data-x='30', data-y='180', data-speed='400', data-start='2000', data-easing='easeOutExpo')
             | Connect in Seconds
           //div(class='caption lft slide_desc slide_item_left', data-x='30', data-y='220', data-speed='400', data-start='2500', data-easing='easeOutExpo')
             | An Interactive Learning System
             br
             | with Communication
           a(class='caption lft btn green slide_btn slide_item_left', href='/features', data-x='30', data-y='290', data-speed='400', data-start='3000', data-easing='easeOutExpo')
             | Take a tour
           div(class='caption lfb', data-x='640', data-y='55', data-speed='700', data-start='1000', data-easing='easeOutBack')
             img(src='/frontend/pages/img/revolutionslider/devices.png', alt='Image 1', width='60%', height='60%')
       
       div(class='tp-bannertimer tp-bottom')
       
 .main
   .container
     div(class='row service-box margin-bottom-40')
       div(class='col-md-4 col-sm-4')
         .service-box-heading
           em
             i(class='fa fa-video-camera blue')
           span Video/Audio Chat
         p CloudKibo lets you invite your friend with a click of a button into a call. Don’t get tied down to a clumsy keypad and cryptic codes to control and manage your calls.
       div(class='col-md-4 col-sm-4')
         .service-box-heading
           em
             i(class='fa fa-desktop blue')
           span Screen Sharing
         p CloudKibo lets you share your weekly project status, share your weekly sales slides, collect feedback on the latest design rendering, and makes sharing a screen easy as clicking the “Share Screen” button.
       div(class='col-md-4 col-sm-4')
         .service-box-heading
           em
             i(class='fa fa-share blue')
           span File Transferring
         p CloudKibo makes it simple for you or anyone in your call to instantly share notes, documents, videos, or any other file. File transfer is highly secured. All file transfers are peer to peer with 128 Bit encryption.
       div(class='col-md-4 col-sm-4')
         .service-box-heading
           em
             i(class='fa fa-envelope blue')
           span Instant Messaging
         p Somethings are just better to write and send. With CloudKibo, use our chat messaging system to send your messages to your dear ones.
       div(class='col-md-4 col-sm-4')
         .service-box-heading
           em
             i(class='fa fa-users blue')
           span Video Conference
         p CloudKibo also allows you to invite multiple people to join the Web meeting without installing any complex software. All they need to do is visit a URL and join the meeting.
       div(class='col-md-4 col-sm-4')
         .service-box-heading
           em
             i(class='fa fa-book blue')
           span CloudKibo School
         p With CloudKibo School, you can enroll or create classes. Learn in a real-time classroom environment having facilities of video conferencing for devilivering lectures.
     div(class='row quote-v1 margin-bottom-30')
       .col-md-9
         span
           | Make Your FREE Account Now!
       div(class='col-md-3 text-right')
         a(class='btn-transparent', href='/register')
           i(class='fa fa-check margin-right-10')
           | Register
     div(class='row recent-work margin-bottom-40')
       .col-md-3
         h2 Diverse Platforms
         p With CloudKibo, you can connect from anywhere using any device. CloudKibo can be used on any device with Google Chrome installed. Moreover, CloudKibo also offers you to download native Android and IPhone Apps.
       .col-md-9
         div(class='owl-carousel owl-carousel3')
           .recent-work-item
             em
               img(src='/frontend/pages/img/works/img1.jpg', class='img-responsive')
             a(class='recent-work-description')
               strong Web App
               b On Tablet PC
           .recent-work-item
             em
               img(src='/frontend/pages/img/works/img5.jpg', class='img-responsive')
             a(class='recent-work-description')
               strong Android App
               b On Smart Phone
           .recent-work-item
             em
               img(src='/frontend/pages/img/works/img2.jpg', class='img-responsive')
             a(class='recent-work-description')
               strong Web App
               b On Desktop Computer
           .recent-work-item
             em
               img(src='/frontend/pages/img/works/img4.jpg', class='img-responsive')
             a(class='recent-work-description')
               strong Android App
               b On Tablet PC
           .recent-work-item
             em
               img(src='/frontend/pages/img/works/img3.jpg', class='img-responsive')
             a(class='recent-work-description')
               strong Web App
               b On Smart Phone
           .recent-work-item
             em
               img(src='/frontend/pages/img/works/img6.jpg', class='img-responsive')
             a(class='recent-work-description')
               strong Web App
               b On Macintosh Computer
     div(class='row margin-bottom-40 front-steps-wrapper front-steps-count-3')
       div(class='col-md-4 col-sm-4 front-step-col')
         div(class='front-step front-step1')
           h2 Create Room
           p It is as easy to make a conference room of your own as just giving it a name.
       div(class='col-md-4 col-sm-4 front-step-col')
         div(class='front-step front-step2')
           h2 Invite People
           p You can easily invite people to join your meeting room by just sending them the conference room URL.
       div(class='col-md-4 col-sm-4 front-step-col')
         div(class='front-step front-step3')
           h2 Start Video Conference
           p Once people join your room, CloudKibo Video Conference will begin providing you robust functionalities.
 .footer
    .container
      .row
        div(class='col-md-6 col-sm-6 padding-top-10')
          | CloudKibo &copy; (Beta Version) All Rights Reserved
        div(class='col-md-6 col-sm-6')
          ul(class='social-footer list-unstyled list-inline pull-right')
                li
                  a(href='#')
                    i(class='fa fa-facebook')
                li
                  a(href='#')
                    i(class='fa fa-google-plus')
                li
                  a(href='#')
                    i(class='fa fa-linkedin')
                li
                  a(href='#')
                    i(class='fa fa-twitter')
                li
                  a(href='#')
                    i(class='fa fa-youtube')
