extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 div(class='main')
   .container
     div(class='row margin-bottom-40')
       div(class='sidebar col-md-3 col-sm-3')
         ul(class='list-group margin-bottom-25 sidebar-menu')
           li(class='list-group-item clearfix')
             a(href='#register')
               i(class='fa fa-angle-right')
               | Register
           li(class='list-group-item clearfix')
             a(href='#forgotpassword')
               i(class='fa fa-angle-right')
               | Forgot Password
       div(class='col-md-9 col-sm-9')
         h1 Change your password now
         .content-form-page
             .row
               div(class='col-md-7 col-sm-7')
                 form(role='form', name="form1", class='form-horizontal form-without-legend', ng-submit='save()', ng-init='token=#{JSON.stringify(token)}')
                   .form-group
                     label(for='password', class='col-lg-4 control-label') New Password
                       span(class='require')
                         | *
                     .col-lg-8
                       input.form-control(type='password', id='password' name="password", placeholder='Password', ng-model="user1.password", ng-minlength='6', required, ng-focus)
                       span(ng-show!="form1.password.$dirty && !form1.password.$focused")
                         span(ng-show="form1.password.$invalid")
                           span(ng-show="form1.password.$error.required")
                             small Enter the password.
                           span(ng-show="form1.password.$error.minlength")
                             small Length of password should be greater than 6 characters.
                   .row
                     div(class='col-lg-8 col-md-offset-4 padding-left-0 padding-top-20')
                       button.btn.btn-primary(type='submit', ng-disabled="form1.$invalid || isUnchanged(user1)") Change my password
                   .row
                     div(ng-show='sentData')
                       p(ng-bind='user.message')
 .footer
    .container
      .row
        div(class='col-md-6 col-sm-6 padding-top-10')
          | CloudKibo &copy; (Beta Version) All Rights Reserved
        //div(class='col-md-6 col-sm-6')
          ul(class='social-footer list-unstyled list-inline pull-right')
                li
                  a(href='#')
                    i(class='fa fa-facebook')
                li
                  a(href='#')
                    i(class='fa fa-google-plus')
                li
                  a(href='#')
                    i(class='fa fa-linkedin')
                li
                  a(href='#')
                    i(class='fa fa-twitter')
                li
                  a(href='#')
                    i(class='fa fa-youtube')
