div(class = 'changebckcolor' style="height:100vh;overflow:auto;")
   .pre-header(class = 'bckcolor-preheader')
      .row(style="height:40px;")
              ul.list-unstyled.list-inline(style="margin-top:5px;text-align:center;")
                li
                  h4
                    a(href='https://www.cloudkibo.com/')
                      img(src='/images/logo_small_black.png')
                      | CloudKibo
    
    div(class = "otherbrowser-warning")
        h3 Browser Not Supported
        p  Welcome to CloudKibo!
        p  This browser doesn't support CloudKibo Conference.         
        p  Get 
           a(href = 'https://www.google.com/chrome/browser/desktop/' target = '_blank')
            b Google Chrome
        p Visit 
           a(href = 'https://www.cloudkibo.com/') Home Page    
   </p>
