extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 div(class='main')
   .container
     div(class='row margin-bottom-40')
       div(class='sidebar col-md-3 col-sm-3')
         ul(class='list-group margin-bottom-25 sidebar-menu')
           li(class='list-group-item clearfix')
             a(href='#register')
               i(class='fa fa-angle-right')
               | Register
           li(class='list-group-item clearfix')
             a(href='#forgotpassword')
               i(class='fa fa-angle-right')
               | Forgot Password
       div(class='col-md-9 col-sm-9')
         h1 Successfully Verified :)
         .content-form-page
             .row
               div(class='col-md-7 col-sm-7')
                  p. You have successfully verified your email address. Kindly go to the login page to sign in with your account.
                  br
                  br
                  br
                  a(href = '#login', class='btn-password btn btn-send')
                    | Sign in
 .footer
    .container
      .row
        div(class='col-md-6 col-sm-6 padding-top-10')
          | CloudKibo &copy; (Beta Version) All Rights Reserved
        //div(class='col-md-6 col-sm-6')
          ul(class='social-footer list-unstyled list-inline pull-right')
                li
                  a(href='#')
                    i(class='fa fa-facebook')
                li
                  a(href='#')
                    i(class='fa fa-google-plus')
                li
                  a(href='#')
                    i(class='fa fa-linkedin')
                li
                  a(href='#')
                    i(class='fa fa-twitter')
                li
                  a(href='#')
                    i(class='fa fa-youtube')
