extends header

block append head
  //script(src='/javascripts/cloudKiboApp.js')

block bodycontent
 div(ng-controller='LoginRegister', class='main')
   .container
     div(class='row margin-bottom-40')
       div(class='sidebar col-md-3 col-sm-3')
         ul(class='list-group margin-bottom-25 sidebar-menu')
           li(class='list-group-item clearfix')
             a(href='/register')
               i(class='fa fa-angle-right')
               | Register
           li(class='list-group-item clearfix')
             a(href='/forgotpassword')
               i(class='fa fa-angle-right')
               | Forgot Password
       div(class='col-md-9 col-sm-9')
         h1 Something went wrong :(
         .content-form-page
             .row
               div(class='col-md-7 col-sm-7')
                   p. Verification link has been expired. Kindly, sign in and apply for new verification link.
                   br
                   p. Verification links expire after 4 hours. If you are not late, then you can email your issue with your account details
                   | to support@cloudkibo.com
                   br
                   br
                   a(href = '/', class='btn-password btn btn-send')
                     | Sign in
 .footer
    .container
      .row
        div(class='col-md-6 col-sm-6 padding-top-10')
          | CloudKibo &copy; (Beta Version) All Rights Reserved
        div(class='col-md-6 col-sm-6')
          ul(class='social-footer list-unstyled list-inline pull-right')
                li
                  a(href='#')
                    i(class='fa fa-facebook')
                li
                  a(href='#')
                    i(class='fa fa-google-plus')
                li
                  a(href='#')
                    i(class='fa fa-linkedin')
                li
                  a(href='#')
                    i(class='fa fa-twitter')
                li
                  a(href='#')
                    i(class='fa fa-youtube')
 
 script(src='/global/plugins/jquery-1.11.0.min.js')
 script(src='/global/plugins/jquery-migrate-1.2.1.min.js')
 script(src='/global/plugins/bootstrap/js/bootstrap.min.js')
 script(src='/frontend/layout/scripts/back-to-top.js')
 
 script(src='/global/plugins/fancybox/source/jquery.fancybox.pack.js')
 script(src='/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js')
 
 script(src='/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js')
 script(src='/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js')
 script(src='/frontend/pages/scripts/revo-slider-init.js')
 
 script(src='/frontend/layout/scripts/layout.js')
 
 script(type='text/javascript').
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            RevosliderInit.initRevoSlider();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling(); 
        });
