@media
  (max-width
    &:
      1200px)
        .content-form-page .control-label {
		padding-left 30px
        padding-bottom 5px

.content-form-page
  .col-md-offset-4
    margin-left 15px
  .pull-right
    float left !important
  .btn-default
    margin-top 10px

.quote-v1
  text-align center
  span
    font-size 20px
  .text-right
    text-align center

}
  @media
    (min-width
      &:
        1025px)
          .header .header-navigation {
		display block !important
          and
            (max-width
              &:
                1205px)
                  body.page-header-fixed {
		padding-top 121px !important
    (max-width
      &:
        1024px)
          body.page-header-fixed {
		padding-top 107px !important
        992px)
          .shop-index-carousel {
		margin-left 0
          margin-right 10px
        767px)
          .pre-header .pull-right {
		float left !important
        600px)
          .ls-layer3 .ls-price strong {
		top -5px
        480px)
          .pre-header .list-inline li {
		display block
          border none
          margin-bottom 10px
          padding 0
        450px)
          .ecommerce .steps-block h2 {
		font-size 33px
        405px)
          .top-cart-content {
		width 100%
        390px)
          .steps-block .fa-truck, .steps-block .fa-gift, .steps-block .fa-phone {
	    border 2px solid #FFFFFF
          border-radius 30px !important
          float left
          font-size 20px
          width 40px
          height 40px
          margin-right 11px
          padding-top 12px
          text-align center
          vertical-align middle
        330px)
          .top-cart-content {
		width 280px
        320px)
          .site-logo {
		margin-right 0

.header
  .header-navigation
    display block !important
    clear both
    margin-top -10px
    float left !important
    float none !important
    display none
    clear both
    background #F9F9F9
    padding 0 20px
    margin 0 -20px 25px
    font-size 16px
    margin 0 -10px 0
    padding 0 10px
    & > ul
      & > li
        margin-right 27px
        & > a
          padding 5px 0 18px
    li
      float none
      padding 0
      clear both
      &.menu-search
        top 1px
        margin-left -20px
        span
          &.sep
            top 2px
            margin-right 26px
        i
          top -4px
  .mobi-toggler
    display block
  .nav-brands
    margin 15px 10px
    padding 0
    width 100%
    background #fff
    ul
      border 1px solid #F0F0F0
      padding 10px
    li
      max-width 50%
      display inline-block
      border none
      margin-left 0
  .top-cart-block
    margin-top 0

.reduce-header
  .header-navigation
    margin-top -6px
    & > ul
      & > li
        & > a
          padding-bottom 13px
  .top-cart-block
    margin-top 0
    margin-bottom 19px

.header .header-navigation > ul > li.active > a, .header .header-navigation > ul > li > a:hover, .header .header-navigation > ul > li > a:focus, .header .header-navigation > ul > li.open > a, .header .header-navigation > ul > li.open > a:hover, .header .header-navigation > ul > li.open > a:focus
  background none

.header-navigation
  & > ul
    & > li
      &.dropdown
        &:hover
          & > a
            &:after
              margin-left 10px
              border none
      & > a
        & > i
          &.fa-angle-down
            display block
            float right
            margin 3px 0 0
  .dropdown-menu
    li
      border none !important
      margin-left 20px
      & > a
        padding 10px 10px 9px
        z-index 999
        position relative
        & > i
          display none
    .dropdown-menu
      display block
    .header-navigation-content-ext
      li
        & > a
          display block
  .header-navigation-content
    border none
  .dropdown-megamenu
    .header-navigation-content
      li
        & > a
          padding 10px 10px 9px
  li
    &.menu-search
      span
        &.sep
          display none
  .search-box
    position relative
    right auto
    left 0
    &:after
      right auto
      left 0

.dropdown-fix-right
  .dropdown-menu
    left 0
    right auto

.ecommerce
  .header
    .header-navigation
      li
        &.menu-search
          top 2px
  .pre-footer-subscribe-box
    form
      width 100%
      float none
      width auto
  .content-search
    h1
      padding-top 0
      margin-bottom 3px
  .footer
    padding 10px 0 10px
    .pull-right
      padding-top 10px
  .pre-footer
    address
      margin-bottom 15px !important
  .steps-block
    h2
      font-size 25px
      padding-top 2px
    em
      text-transform inherit

.header .header-navigation li > a,
	.header .dropdown.open .dropdown-toggle,
	.header .header-navigation li.open > a
  border-bottom 1px solid #efefef !important
  padding 8px 10px 9px
  margin 0 -10px
  position relative
  color #666 !important
  background none !important

.ecommerce .header .header-navigation li > a,
	.ecommerce .header .dropdown.open .dropdown-toggle,
	.ecommerce .header .header-navigation li.open > a
  padding 12px 10px 9px

.header .header-navigation li > a:hover,
	.header .header-navigation li.active > a,
	.header .header-navigation li.open > a:hover
  border-bottom 1px solid #efefef !important
  background none !important
  color #dd4632 !important
  text-decoration none

.header-navigation .dropdown-menu,
	.header-navigation > ul > li > .dropdown-menu
  position static
  width 100%
  margin 0
  border none
  box-shadow none
  background none
  margin-top 0
  border-top none
  z-index 22

.dropdown-megamenu
  .header-navigation-content
    padding 5px 0 0
    margin-left -20px
    .row
      margin 0
    .header-navigation-col
      padding 0
      float none
      width 100%
    h4
      font-size 13px
      padding 10px 10px 9px
      margin 0 -10px 0 10px
  .header-navigation-content-ext
    .col-md-3
      h4
        border-bottom 1px solid #EFEFEF

.header-navigation-content-ext
  background none
  .col-md-6
    margin-left 10px
    h4
      margin-left 0
      padding-left 0

.header-navigation-description
  height auto !important
  background none
  box-shadow none
  padding 0
  margin 0 10px

.header-navigation-content-ext .col-md-6,
	.header-navigation-content-ext .col-md-3
  float none
  width 100%

.header-navigation-content-ext .col-md-3, .header-navigation-content-ext .col-md-6
  padding 0

.header .nav-brands li a,
	.header .nav-brands li a:hover
  border none !important
  margin 0 !important

.nav-catalogue
  .dropdown-menu
    & > li
      margin-left 0
  .header-navigation-content
    padding 20px 0 0
  .product-item
    margin-bottom 20px
  .pi-price
    margin-bottom 10px

.header-navigation li.menu-search,
	.ecommerce .header-navigation li.menu-search
  top 0
  padding 20px 0 10px
  position relative

.top-cart-block
  margin-top 3px
  clear both
  float left
  padding-top 0
  margin 0 0 29px
  width 100%
  .fa-shopping-cart
    top 0

.page-header-fixed
  .header-navigation
    height 300px
    overflow auto

.brands
  .container
    padding-right 25px

.sidebar-menu
  a
    &:focus
      color #333 !important
      text-decoration none
  .fa-angle-right
    display inline-block

.sale-product___removed
  margin-bottom 40px

.new-arrivals___removed
  margin-left 15px
  padding-left 0

.two-items-bottom-items
  margin-bottom 40px

.carousel
  img
    width 100%

.steps-block-col
  border 2px solid #FFF
  margin 0 25px 20px 15px
  padding 20px 20px 15px
  min-height auto
  float none
  &:last-child
    margin-right 25px
    margin-bottom 0
  span
    display none
  .fa
    display block

.steps-block
  .steps-block-col
    div
      margin-left 0
      margin-right 0
  h2
    font-size 43px
  em
    text-transform uppercase

.pre-footer-subscribe-box
  form
    width 100%

.sidebar-products
  img
    float none
    margin-bottom 5px
    width 100%
    height auto
    width 100%
    height auto
  .item
    float left
    width 48%
    margin-bottom 20px
    padding 0 10px 10px

.sidebar-products h3,
	.sidebar-products .price
  margin-left 0

.product-page-options
  .pull-left
    margin-bottom 10px
    margin-bottom 0
    margin-bottom 10px

.product-quantity
  margin-bottom 10px

.review
  .rateit
    width 100%
    margin-bottom 10px

.list-view-sorting
  margin-left 0
  margin-right 0
  margin-bottom 10px
  .pull-right
    margin-bottom 10px
    float left !important
    margin 0 30px 10px 0
  .col-md-10
    padding-right 0

.service-box p, .service-box .service-box-heading em, .service-box .service-box-heading span
  display block
  text-align center

.service-box
  .service-box-heading
    em
      margin-bottom 10px

.recent-work
  .owl-carousel
    margin-left -10px
  .recent-work-item
    .fa
      width 36px
      height 36px
      margin-top -18px
      font-size 14px
      padding 12px

.our-clients
  .owl-carousel
    margin-left -2px
  .owl-buttons
    left -10px

.recent-work .owl-carousel,
	.our-clients .owl-carousel
  padding-top 30px

.recent-work .owl-buttons,
	.our-clients .owl-buttons
  top 0
  left -3px

.testimonials-v1
  padding-top 40px
  padding-top 20px

.recent-news-inner
  padding 10px 15px 0

.ecommerce .pre-footer-subscribe-box h2, .corporate .pre-footer-subscribe-box h2
  padding-top 0
  padding-top 7px

.pre-footer
  .pre-footer-subscribe-box
    padding-bottom 25px
  .margin-bottom-40
    margin-bottom 0

.content-search
  form
    margin 0 0 6px

.pre-header
  .pull-right
    li
      &:first-child
        padding-left 0
  .col-md-6
    float left
  .additional-nav
    float right
    text-align right

.header-navigation-content
  min-width 100px

.sidebar
  margin-bottom 40px

.sidebar___removed
  margin-bottom 40px

.pre-footer .pull-right,
	.footer .pull-right
  float none !important
  padding-top 15px

.footer
  .list-inline
    & > li
      padding-left 0
      margin-right 5px
  img
    margin-bottom 10px

.form-info
  border-left none
  padding-left 0
  padding-top 30px
  border-top 1px solid #E4E6E8
  margin-bottom 0

.product-other-images
  margin-bottom 40px

.product-item
  .img-responsive
    width 100%
  &:hover
    & > .pi-img-wrapper
      & > div
        display none

.pagination
  float left !important
  padding-top 10px
  & > li
    margin-left 0
    margin-right 5px

.ls-layer3
  .ls-price
    strong
      top -15px

.glyphicons-demo
  ul
    li
      width 12.5%

.tab-style-1
  .tab-content
    img
      margin 5px 0 10px

.front-steps-wrapper
  margin-left -10px
  margin-right -10px
  .front-step-col
    padding-left 15px
    padding-right 15px
  .front-step
    &:after
      display none

.blog-posts h2, .ecommerce .blog-posts h2
  padding-top 15px

.nav-catalogue .pi-price,
	.nav-catalogue .product-item .add2cart
  float none

.top-cart-info
  float none

.top-cart-content-wrapper
  left 0
  right auto

.top-cart-content
  &:after
    left 15px

.ls-fullwidth .ls-nav-prev, .ls-fullwidth .ls-nav-next
  display none

.checkout-content
  padding 0 0 40px

.checkout-page
  h2
    a
      padding 9px 10px 8px
  .btn-default
    clear both
    margin-top 10px
    margin-right 0 !important

.table-wrapper-responsive
  overflow-x scroll

.shopping-cart-page
  .btn-default
    float right
  .btn-primary
    clear both
    margin-top 10px

.steps-block-simple
  h2
    font-size 21px
  em
    font-size 14px
    text-transform inherit

.ecommerce .pre-footer-subscribe-box h2,
	.corporate .pre-footer-subscribe-box h2
  float none

.top-cart-block img,
	.top-cart-block .cart-content-count
  display none

.price-availability-block
  .availability
    clear left
    float left

